<nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="https://personal-eva.s3.us-east-2.amazonaws.com/img/logos/IsoLogo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-black " href="#" routerLink="index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#" routerLink="/store">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#" routerLink="/cart">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#" routerLink="/experience">Experiencias</a>
                </li>
            </ul>
            <div class="botones">
                <button class="btn bini">
                    <a class="nav-link" href="/login">Iniciar Sesión</a>
                </button>
            </div>
        </div>
    </div>
</nav>
