
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<footer class="text-center text-lg-start text-muted" style="background-color: ghostwhite;">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span><strong class="titulo">Colaboradores:</strong> </span>
      <div class="d-flex fig">
        <img class="m-2" src="https://personal-eva.s3.us-east-2.amazonaws.com/img/logos/tpVerde.png" alt="Tecnoparque" height="40px">
        <img class="m-2" src="https://personal-eva.s3.us-east-2.amazonaws.com/img/logos/Recurso+2.png" alt="Logo SENA" height="40px">
      </div>
    </div>
    <!-- Left -->
    <!-- Right -->
    <div class="me-5 d-none d-lg-block">
      <span><strong class="titulo">Redes Sociales</strong> </span>
      <div class="d-flex">
        <a href="https://es-la.facebook.com/SENACesarOficial/" class="m-2 link-secondary"><i class="bi bi-facebook" style="color: #1070bf;"></i></a>
        <a href="https://twitter.com/SENACesar_?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="m-2 link-secondary"><i class="bi bi-twitter" style="color: #1070bf;"></i></a>
        <a href="https://www.youtube.com/c/SENATVColombia" class="m-2 link-secondary"><i class="bi bi-youtube" style="color: #1070bf;"></i></a>
        <a href="https://www.instagram.com/senacesar_/?hl=es" class="m-2 link-secondary"><i class="bi bi-instagram" style="color: #1070bf;"></i></a>
      </div>
    </div>
    <!-- Right -->
  </section>
<!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center text-white p-4" style="background-color: #1070bf;">
    © 2022 Copyright:
    <a class="fw-bold equipo text-white" href="#">Equipo de desarrollo Tecnoparque</a>
  </div>
  <!-- Copyright -->
</footer>

