<section class="container">
  <video src="https://personal-eva.s3.us-east-2.amazonaws.com/img/Videos/EXPERIENCIAPAS.mp4" muted autoplay loop></video>
  <div class="capa"></div>
  <article class="tap" id="tap">
    <h1 class="title">Vive experiencias que cambiaran tu vida y ayudaran al mundo.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi molestias quas quasi quae, mollitia dolore inventore, reprehenderit ut fuga ratione unde deleniti incidunt? Atque ducimus tempora consequuntur ex rerum illo.</p>
    <div class="botones">
      <button class="btn bs"><a class="text-decoration-none text-white" href="/store">Apoyar</a></button>
    <button class="btn bs"><a class="text-decoration-none text-white" href="/store">Tienda</a></button>
    </div>
  </article>
</section>
<!-- <button class="btn bs"><a class="text-decoration-none text-white" href="/store">Comprar</a></button> -->
