<div class="card mb-3">
  <!-- Dato en la cabecera que indica fecha de publicación -->
  <div class="card-header">
    <p>2/11/2022</p>
  </div>
  <!-- Cuerpo de la tarjeta -->
  <div class="card-body">
    <div class="row">
      <!-- Información de la experiencia -->
      <div class="col-8">
        <h3 class="card-title">Visitar sierra nevada de santa marta</h3>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content ndjsbdwvdkwhevqf,jdwebuDBCLIflhblblhbfeiubfjdbhdwedwebhdbwiefbiwbfc.<br/>
          With supporting text below as a natural lead-in to additional content ndjsbdwvdkwhevqf,jdwebuDBCLIflhblblhbfeiubfjdbhdwedwebhdbwiefbiwbfc
          With supporting text below as a natural lead-in to additional content.
        </p>
        <h3 class="card-title">{{experience.tituloExperiencia}}</h3>
        <p class="card-text">{{experience.experiencia}}</p>
        <!-- <a href="#" class="btn btn-primary" routerLink="/one-experience/{{experience._id}}">Ver completo</a> -->
      </div>
      <!-- Imagne representativa de la experiencia -->
      <div class="col-4 d-flex justify-content-center">
        <img src="https://personal-eva.s3.us-east-2.amazonaws.com/img/Fondos/1E1A6097.jpg" class="rounded" alt="experiencia">
      </div>
    </div>
    <!-- Esto no es mio, igual lo dejo, imagino que es para traer los datos de la experiencia de la DB -->
    <h5 class="card-title">{{experience.tituloExperiencia}}</h5>
    <p class="card-text">{{experience.experiencia}}</p>
    <button class="btn"><a href="#" class="text-decoration-none text-white" routerLink="/one-experience/jdjdjdj">Ver</a></button>
    
  </div>
</div>
