<section class="row container" id="quienesSomos">
  <div class="row">
    <div class="col-5">
      <figure class="img">
        <img src="https://personal-eva.s3.us-east-2.amazonaws.com/img/Fondos/1E1A6063.jpg" alt="pueblo" width="90%">
        <figcaption class="autor">Autor: Junior Mindiola Maestre</figcaption>
      </figure>
    </div>
    <div class="col-7">
        <h2 class="text-center">Quienes somos</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dicta, aliquam maxime corporis laboriosam tempora fuga unde alias delectus possimus saepe hic iusto error dolorem harum dignissimos doloribus? Saepe, eligendi.</p>
        <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat ullam repellat optio, quas in ducimus possimus saepe non alias harum, quo exercitationem ad labore corrupti totam minima ex? Enim, dolor.</p>
        <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat ullam repellat optio, quas in ducimus possimus saepe non alias harum, quo exercitationem ad labore corrupti totam minima ex? Enim, dolor.</p>
    </div>
  </div>
</section>