<section class="row text-secondary my-5 container" id="products">
  <div class="text-center">
    <div class="row">
      <h2 class="Ft">Productos</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellat dolorum alias, velit enim quidem culpa delectus, fuga deserunt aut ut explicabo quos placeat. Beatae, unde illum! Quibusdam, iusto fugit?</p>
    </div>
    <div class="row my-5">
      <div class="col-4">
        <figure>
          <img src="https://personal-eva.s3.us-east-2.amazonaws.com/img/FotosProductos/1E1A6718.jpg" alt="Producto">
          <h4 class="my-4 Ft"  >Lorem Ipsum</h4>
        </figure>
        <p>asdasndklasnldnasldnsandlasndlkasn ckhvbodlsnfdnasdnbfanfj fjkanoiewnfjsnfklsadljas dasdasvdsvsdvdsvscasd</p>
      </div>
      <div class="col-4">
        <figure>
          <img src="https://personal-eva.s3.us-east-2.amazonaws.com/img/FotosProductos/1E1A6742.jpg" alt="Producto">
          <h4 class="my-4 Ft">Lorem Ipsum</h4>
        </figure>
        <p>asdasndklasnldnasldnsandlasndlkasn ckhvbodlsnfdnasdnbfanfj fjkanoiewnfjsnfklsadljas dasdasvdsvsdvdsvscasd</p>
      </div>
      <div class="col-4">
        <figure>
          <img src="https://personal-eva.s3.us-east-2.amazonaws.com/img/FotosProductos/1E1A6715.jpg" alt="producto">
          <h4 class="my-4 Ft">Lorem Ipsum</h4>
        </figure>
        <p>asdasndklasnldnasldnsandlasndlkasn ckhvbodlsnfdnasdnbfanfj fjkanoiewnfjsnfklsadljas dasdasvdsvsdvdsvscasd</p>
      </div>
    </div>
  </div>
</section>
