<section class="container my-5">
  <div class="card">
    <div class="card-body">
      <app-catalogue></app-catalogue>
      <section class="row mb-4">
        <div class="col-12">
          <h3 class="">Productos</h3>
        </div>
      </section>
      <!-- Grilla de cards de los productos -->
      <div class="d-flex justify-content-center flex-wrap" id="img-container">
        <app-card class="mx-2"></app-card>
        <app-card class="mx-2"></app-card>
        <app-card class="mx-2"></app-card>
        <app-card class="mx-2"></app-card>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
